node_modules
node_modules/*
localtest
sftp-config.json
logs/*
.idea
.idea/*
to
src/.idea
docs/*.html
*.sublime*
upload
build
*.zip
.vscode
spec/*.txt
!src/bin/files
sql2model
esdoc
npm-debug*
dist
process.dev.json
*.tar.gz
files/*.xlsx
files/*.zip
files/*.csv
coverage
test
apidoc
sftp.json
*.bat
**/.DS_Store
files
uploads
release

