html, body {
    margin: 0; padding: 0; height: 100%;
}
html, body  {
    font-family: Monaco, Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    display: block;
    font-size: 14px;
    // line-height: 20px;
    color: #333;
}
input, textarea {
    font-family: Monaco, Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

#root { height: 100%; }
#J_appRouterContainer { height: 100%; overflow: auto; }

.v-m { display: inline-block; vertical-align: middle; }
.icon { cursor: pointer; }

.v-m-container {
    display: table; width: 100%; height: 100%;
}
.v-m-element {
    display: table-cell; vertical-align: middle;
}

input[type="radio"] { display: inline-block; height: 14px; }

.collapse-btn {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 120px;
    color: transparent;
}

.hide-model {
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    // min-height: 7000px;
    background: white;
    // padding: 20px;
}
